<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Params.Description }}{{ end }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ (resources.Get "sass/main.sass" | toCSS | minify).RelPermalink }}">
<title>{{ if not .IsHome }}{{ .Title }} / {{ end }}{{ .Site.Title }}</title>
<script src="{{ (resources.Get "scripts/theme.js" | minify).RelPermalink }}"></script>

<!--favicon-->
<link rel="icon" type="image/png" href="/favicon.png">
<meta name="msapplication-TileColor" content="#96cce7">